{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background:url('https://fazeclan.com/images/inner-page/inner-page-brand-bg-tabletMedium.webp')">

     <!--DONATIONS WRAP BEGIN-->
<section class="donations-wrap"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for team in team_data%}
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-8 col-sm-12">
                            <div class="img-wrap"><img class="img-responsive" src="{{team.Team_Banner.url}}" alt="donation-item"></div>
                        </div>
                        <div class="col-md-4 col-sm-12 position-relative">
                            <div class="info">
                                <div class="wrap">
                                    <div class="title"><h1 class="title">{{team.game}}</h1></div>
                                    <p>{{team.BS_team.TeamAbout}}</p>
                                <a href="{% url 'teamdetails' team.slug %}" class="btn small">more</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--DONATIONS WRAP END-->
 
</section>
<!--CLUB STAFF TOP END-->


{% endblock %}