{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--PLAYER INFO BEGIN-->
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h4 class="player-name"> </h4>
    </div>
</div>
    <div class="row ">
        <div class="col-xs-12 col-sm-3">
            <div class="player-photo ">
                <img class="img-responsive" src="{{data.BS_team.Team_image.url}}" alt="player" style="margin-left: 25%;">
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="player-hockey-wrap">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="stats">
                            <p class="name">{{data.BS_team.TeamName}}</p>
                            <p> {{data.BS_team.TeamAbout}} </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>

<!--PLAYER INFO END-->

<div class="tab-item news-tab tab-pane">
    <div class="news-list">
        <div class="container">
            <div class="row">
                {% for player in players %}
                <div class="col-md-4">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <a href="#"><img src="{{player.player.user.photo.url}}" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="{{player.player.slug}}" class="name">{{player.player.in_game_name}}</a>	
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>	
</div>




<div class="tab-item news-tab tab-pane">
    <div class="news-list">
        <div class="container">
            {% for LineUpplayer in LineUpplayers %}
            <h3>{{LineUpplayer.0}}</h3>
            <div class="row">
                {%  for p in LineUpplayer.2  %}
                <div class="col-md-4">
                    <div class="item img-top">
                        <div class="img-wrap">
                            <a href="#"><img src="{{p.player.user.photo.url}}" alt="news-list-img"></a>
                        </div>
                        <div class="info">
                            <a href="{{p.player.slug}}" class="name">{{p.player.in_game_name}}</a>	
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>	
</div>

{% if achievements %}
<section class="donations-wrap"> 
    <div class="container">
        <h2>Our Achievements</h2>
        <div class="row">
            <div class="col-md-12">
                {% for achievement in achievements %}
                <div class="donation-item">
                    <div class="row no-gutter equal-height">
                        <div class="col-md-8 col-sm-12">
                            <div class="img-wrap"><img class="img-responsive" src="{{achievement.Banner.url}} " alt="donation-item"></div>
                        </div>
                        <div class="col-md-4 col-sm-12 position-relative">
                            <div class="info">
                                <div class="wrap">
                                    <div class="title"><h1 class="title">{{achievement.title}} </h1></div>
                                    <p>{{achievement.story}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<br>

{% endblock %}