{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--PLAYER SINGLE WRAP BEGIN-->

<section class="player-single-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="captain-bage"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                <h4 class="player-name">{{player.username}}</h4>
            </div>
            <div class="col-md-6">

                <div class="player-photo">
                    <div class="number"></div>
                    <img class="img-responsive" src="{{player.photo.url}}" alt="player">
                </div>
            </div>
            <div class="col-md-6">
                <div class="player-info">
                    <h6 class="player-info-title">summary</h6>
                    <div class="summary">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="item">Nationality:</div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">{{player.nationality}}</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="item">Speciality:</div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">{{player.speciality}}</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="item">Age:</div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">{{player.age}}</div>
                        </div>
                    </div>
                    
                    <h6>About</h6>
                    <p>{{player.about}}</p>

                    <h6>Personal Dashboard</h6>
                    <div class="overflow-scroll">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th class="club">Team</th>
                                <th>Kills</th>
                            </tr>
                            {% for personal in personal_match_data %}
                            <tr>
                                <td>{{personal.Match.TimeDate.date}}</td>
                                <td class="club"><img src="{{personal.teamName.Team.Team_image.url}}" width="30" height="30"
                                        alt="trophy"> {{personal.teamName.Team.TeamName}}</td>
                                <td><span>{{personal.kill_Point}}</span></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}