{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--BROADCASTS BEGIN-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>broadcasts</h3>

            <div class="mathc-live-broadcasts">
                <div class="background">
                    <div class="broadcast-tabs-wrapper">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a href="#title1" role="tab" data-toggle="tab"><img
                                        src="{% static 'images/common/brod-1.png' %}" alt="chanel">
                                    <span class="info">
                                        <span class="title">broadcasts title#1</span>
                                        <span class="language">English</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#title2" role="tab" data-toggle="tab"><img
                                        src="{% static 'images/common/Arbeiderpartiet-logo.png' %}" alt="chanel">
                                    <span class="info">
                                        <span class="title">broadcasts title#2</span>
                                        <span class="language">English</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#title3" role="tab" data-toggle="tab"><img
                                        src="{% static 'images/common/channel-logo.png' %}" alt="chanel">
                                    <span class="info">
                                        <span class="title">broadcasts title#3</span>
                                        <span class="language">English</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" role="tabpanel" id="title1">
                            <iframe class="video" src="https://www.dailymotion.com/embed/video/x5howth"
                                allowfullscreen></iframe>
                                <div class="share-box">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row no-gutter">
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="title">SHARE THIS MATCH</div>
                                                </div>
                                                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                                                    <ul
                                                        class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">
                    
                                                        <!-- Digg -->
                    
                                                        <li class="digg">
                                                            <a href="http://www.digg.com/">
                                                                <i class="fa fa-digg" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Facebook -->
                    
                                                        <li class="facebook">
                                                            <a href="http://www.facebook.com/">
                                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Google+ -->
                    
                                                        <li class="google">
                                                            <a href="https://plus.google.com/">
                                                                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- LinkedIn -->
                    
                                                        <li class="linkedin">
                                                            <a href="http://www.linkedin.com/">
                                                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Pinterest -->
                    
                                                        <li class="pinterest">
                                                            <a href="http://assets.pinterest.com/">
                                                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Reddit -->
                    
                                                        <li class="reddit">
                                                            <a href="http://reddit.com/">
                                                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- StumbleUpon-->
                    
                                                        <li class="StumbleUpon">
                                                            <a href="http://www.stumbleupon.com/">
                                                                <i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Tumblr-->
                    
                                                        <li class="tumbler">
                                                            <a href="http://www.tumblr.com/">
                                                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Twitter -->
                    
                                                        <li class="twitter">
                                                            <a href="https://twitter.com/">
                                                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                    
                                                        <!-- VK -->
                    
                                                        <li class="vk">
                                                            <a href="http://vkontakte.ru/">
                                                                <i class="fa fa-vk" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="title2">
                            <iframe class="video" src="https://www.dailymotion.com/embed/video/x5howth"
                                allowfullscreen></iframe>
                                <div class="share-box">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row no-gutter">
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="title">SHARE THIS MATCH</div>
                                                </div>
                                                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                                                    <ul
                                                        class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">
                    
                                                        <!-- Digg -->
                    
                                                        <li class="digg">
                                                            <a href="http://www.digg.com/">
                                                                <i class="fa fa-digg" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Facebook -->
                    
                                                        <li class="facebook">
                                                            <a href="http://www.facebook.com/">
                                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Google+ -->
                    
                                                        <li class="google">
                                                            <a href="https://plus.google.com/">
                                                                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- LinkedIn -->
                    
                                                        <li class="linkedin">
                                                            <a href="http://www.linkedin.com/">
                                                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Pinterest -->
                    
                                                        <li class="pinterest">
                                                            <a href="http://assets.pinterest.com/">
                                                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Reddit -->
                    
                                                        <li class="reddit">
                                                            <a href="http://reddit.com/">
                                                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- StumbleUpon-->
                    
                                                        <li class="StumbleUpon">
                                                            <a href="http://www.stumbleupon.com/">
                                                                <i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Tumblr-->
                    
                                                        <li class="tumbler">
                                                            <a href="http://www.tumblr.com/">
                                                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Twitter -->
                    
                                                        <li class="twitter">
                                                            <a href="https://twitter.com/">
                                                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                    
                                                        <!-- VK -->
                    
                                                        <li class="vk">
                                                            <a href="http://vkontakte.ru/">
                                                                <i class="fa fa-vk" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="title3">
                            <iframe class="video" src="{% static 'https://www.dailymotion.com/embed/video/x5howth"
                                allowfullscreen></iframe>
                                <div class="share-box">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row no-gutter">
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="title">SHARE THIS MATCH</div>
                                                </div>
                                                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                                                    <ul
                                                        class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">
                    
                                                        <!-- Digg -->
                    
                                                        <li class="digg">
                                                            <a href="http://www.digg.com/">
                                                                <i class="fa fa-digg" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Facebook -->
                    
                                                        <li class="facebook">
                                                            <a href="http://www.facebook.com/">
                                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Google+ -->
                    
                                                        <li class="google">
                                                            <a href="https://plus.google.com/">
                                                                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- LinkedIn -->
                    
                                                        <li class="linkedin">
                                                            <a href="http://www.linkedin.com/">
                                                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Pinterest -->
                    
                                                        <li class="pinterest">
                                                            <a href="http://assets.pinterest.com/">
                                                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Reddit -->
                    
                                                        <li class="reddit">
                                                            <a href="http://reddit.com/">
                                                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- StumbleUpon-->
                    
                                                        <li class="StumbleUpon">
                                                            <a href="http://www.stumbleupon.com/">
                                                                <i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Tumblr-->
                    
                                                        <li class="tumbler">
                                                            <a href="http://www.tumblr.com/">
                                                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                                                        <!-- Twitter -->
                    
                                                        <li class="twitter">
                                                            <a href="https://twitter.com/">
                                                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                    
                    
                                                        <!-- VK -->
                    
                                                        <li class="vk">
                                                            <a href="http://vkontakte.ru/">
                                                                <i class="fa fa-vk" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--BROADCASTS END-->

{% endblock %}