{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <!--STANDING TABLE WRAP BEGIN-->
    <!-- <hr>
    {% for key, value in unique_team.items %}

    {% for s in value %}
    <td class="points"><span>26</span></td>
    <td>{{s}}</td>
 
    {% endfor %}
 <hr>
    {% endfor %} -->
    <hr>
    <section class="standing-table-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Premier league</h4>
                    <ul class="tab-filters" role="tablist">
                        {% for data in season_table_data_1 %}
                        <li class="active"><a href="#{{data.slug}}" id="passdata" value="{{data.slug}}" role="tab" data-toggle="tab">{{data.SEASON_title}}</a>
                        </li>
                        {% endfor %}

                        {% for data in season_table_data %}
                        <li class=""><a href="#{{data.slug}}" id="passdata" value="{{data.slug}}" role="tab" data-toggle="tab">{{data.SEASON_title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 overflow-scroll standings-table">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="" role="tabpanel">
                            <table class="standing-full">
                                <tr>
                                    <th>Team1</th>
                                    <th>played</th>
                                    <th>Match Win</th>
                                    <th>Placement Point</th>
                                    <th>Kill Point</th>
                                    <th>Total points</th>
                                </tr>
                                {% for key,value in unique_team.items %}
                                <tr>
                                    <td class="up"> 1 <span class="team"><img src="{{value.0}}" width="30" height="30" alt="team-logo"> </span>{{value.1}}
                                </td>
                                <td>{{value.2}}</td>
                                <td>{{value.3}}</td>
                                <td>{{value.4}}</td>
                                <td>{{value.5}}</td>
                                <td class="points"><span>{{value.6}}</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        {% for data in season_table_data %}
                        <div class="tab-pane fade in" id="{{data.slug}}" role="tabpanel">
                            <table class="standing-full">
                                <tr>
                                    <th>Team</th>
                                    <th>played</th>
                                    <th>Match Win</th>
                                    <th>Placement Point</th>
                                    <th>Kill Point</th>
                                    <th>Total points</th>
                                </tr>
                                {% for key,value in unique_team.items %}
                                <tr>
                                    <td class="up"> 1 <span class="team"><img src="{{value.0}}" width="30" height="30" alt="team-logo"> </span>{{value.1}}
                                </td>
                                <td>{{value.2}}</td>
                                <td>{{value.3}}</td>
                                <td>{{value.4}}</td>
                                <td>{{value.5}}</td>
                                <td class="points"><span>{{value.6}}</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--STANDING TABLE WRAP END-->


    <div class="row">
        <div class="col-md-12">
            <h6>Other matches</h6>
        </div>
        <div class="col-md-12">
            <div class="broadcast-list" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="broadcast-item">
                    <div class="item-header" id="headingOne">
                        <div class="row">
                            <div class="col-md-1 col-sm-2">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i
                                        class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-11 col-sm-10">
                                <div class="item-head-body">
                                    <a href="matches.html"><img src="{% static 'images/common/channel-logo.png' %}"
                                            width="40" height="40" alt="channel-logo"></a>

                                    <span class="info">
                                        <span class="what">25 sep 2016 / 7:30 PM</span>
                                        <span class="then">National cup - semifinal</span>
                                    </span>
                                    <span class="marker">live</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="img-wrap"><img src="{% static 'images/soccer/broad-img.jpg' %}" alt="broad-img">
                        </div>
                        <div class="item-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="title">Match details</div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal
                                        vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                                    <div class="title">Match Time</div>
                                    <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                                    <div class="title">Stadium</div>
                                    <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                                    <div class="title">weather forecast</div>
                                    <div class="live-match-weather">
                                        <div class="icon"><img src="{% static 'images/common/wether-sun.png' %}"
                                                alt="wether-sun"></div>
                                        <div class="info">
                                            <div class="degree">7 °C</div>
                                            <div class="text">Partly cloudy night</div>
                                        </div>
                                    </div>
                                    <a href="upcoming-match.html" class="btn">View match page</a>
                                </div>
                                <div class="col-md-7">
                                    <div class="title">Lineups</div>
                                    <div class="lineup-list">
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="broadcast-item">
                    <div class="item-header" id="headingOne">
                        <div class="row">
                            <div class="col-md-1 col-sm-2">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i
                                        class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-11 col-sm-10">
                                <div class="item-head-body">
                                    <a href="matches.html"><img src="{% static 'images/common/channel-logo.png' %}"
                                            width="40" height="40" alt="channel-logo"></a>

                                    <span class="info">
                                        <span class="what">25 sep 2016 / 7:30 PM</span>
                                        <span class="then">National cup - semifinal</span>
                                    </span>
                                    <span class="marker">live</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="img-wrap"><img src="{% static 'images/soccer/broad-img.jpg' %}" alt="broad-img">
                        </div>
                        <div class="item-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="title">Match details</div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal
                                        vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                                    <div class="title">Match Time</div>
                                    <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                                    <div class="title">Stadium</div>
                                    <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                                    <div class="title">weather forecast</div>
                                    <div class="live-match-weather">
                                        <div class="icon"><img src="{% static 'images/common/wether-sun.png' %}"
                                                alt="wether-sun"></div>
                                        <div class="info">
                                            <div class="degree">7 °C</div>
                                            <div class="text">Partly cloudy night</div>
                                        </div>
                                    </div>
                                    <a href="upcoming-match.html" class="btn">View match page</a>
                                </div>
                                <div class="col-md-7">
                                    <div class="title">Lineups</div>
                                    <div class="lineup-list">
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="broadcast-item">
                    <div class="item-header" id="headingOne">
                        <div class="row">
                            <div class="col-md-1 col-sm-2">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i
                                        class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-11 col-sm-10">
                                <div class="item-head-body">
                                    <a href="matches.html"><img src="{% static 'images/common/channel-logo.png' %}"
                                            width="40" height="40" alt="channel-logo"></a>

                                    <span class="info">
                                        <span class="what">25 sep 2016 / 7:30 PM</span>
                                        <span class="then">National cup - semifinal</span>
                                    </span>
                                    <span class="marker">live</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="img-wrap"><img src="{% static 'images/soccer/broad-img.jpg' %}" alt="broad-img">
                        </div>
                        <div class="item-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="title">Match details</div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal
                                        vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                                    <div class="title">Match Time</div>
                                    <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                                    <div class="title">Stadium</div>
                                    <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                                    <div class="title">weather forecast</div>
                                    <div class="live-match-weather">
                                        <div class="icon"><img src="{% static 'images/common/wether-sun.png' %}"
                                                alt="wether-sun"></div>
                                        <div class="info">
                                            <div class="degree">7 °C</div>
                                            <div class="text">Partly cloudy night</div>
                                        </div>
                                    </div>
                                    <a href="upcoming-match.html" class="btn">View match page</a>
                                </div>
                                <div class="col-md-7">
                                    <div class="title">Lineups</div>
                                    <div class="lineup-list">
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="broadcast-item">
                    <div class="item-header" id="headingOne">
                        <div class="row">
                            <div class="col-md-1 col-sm-2">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i
                                        class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-11 col-sm-10">
                                <div class="item-head-body">
                                    <a href="matches.html"><img src="{% static 'images/common/channel-logo.png' %}"
                                            width="40" height="40" alt="channel-logo"></a>

                                    <span class="info">
                                        <span class="what">25 sep 2016 / 7:30 PM</span>
                                        <span class="then">National cup - semifinal</span>
                                    </span>
                                    <span class="marker">live</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="img-wrap"><img src="{% static 'images/soccer/broad-img.jpg' %}" alt="broad-img">
                        </div>
                        <div class="item-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="title">Match details</div>
                                    <p>Selvage mixtape coloring book, street art swag sriracha activated charcoal
                                        vegan hammock selfies distillery wayfarers dreamcatcher lyft beard. </p>
                                    <div class="title">Match Time</div>
                                    <p>7:30 PM, Saturday<br>29 Sep 2016</p>
                                    <div class="title">Stadium</div>
                                    <p>Fulham Rd, Fulham, London SW6 1HS, <br>Stamford Bridge</p>
                                    <div class="title">weather forecast</div>
                                    <div class="live-match-weather">
                                        <div class="icon"><img src="{% static 'images/common/wether-sun.png' %}"
                                                alt="wether-sun"></div>
                                        <div class="info">
                                            <div class="degree">7 °C</div>
                                            <div class="text">Partly cloudy night</div>
                                        </div>
                                    </div>
                                    <a href="upcoming-match.html" class="btn">View match page</a>
                                </div>
                                <div class="col-md-7">
                                    <div class="title">Lineups</div>
                                    <div class="lineup-list">
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="left">
                                                <div class="number"><span>1</span></div>
                                                <div class="name">Borjan (GK)</div>
                                            </div>
                                            <div class="right">
                                                <div class="name">Borjan (GK)</div>
                                                <div class="number"><span>2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pagination-wrap">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script>
    document.getElementById('passdata').addEventListener("click", myfunction);

    function myfunction(e){
        console.log(e.target.value);
    }
</script>
{% endblock %}