{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <section class="standing-table-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 overflow-scroll standings-table">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="" role="tabpanel">
                            <table class="standing-full">
                                <h6>{{table_title}} Point Table </h6>
                                <tr>
                                    <th>Team</th>
                                    <th>played</th>
                                    <th>Match Win</th>
                                    <th>Placement Point</th>
                                    <th>Kill Point</th>
                                    <th>Total points</th>
                                </tr>
                                {% for i in unique_team %}
                                <tr>
                                    <td class="up"> 1 <span class="team"><img src="{{i.1.0}}" width="30" height="30"
                                                alt="team-logo"> </span>{{i.1.1}}
                                    </td>
                                    <td>{{i.1.2}}</td>
                                    <td>{{i.1.3}}</td>
                                    <td>{{i.1.4}}</td>
                                    <td>{{i.1.5}}</td>
                                    <td class="points"><span>{{i.1.6}}</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        {% for data in group_table_data %}
                        <div class="tab-pane fade in" id="{{data.slug}}" role="tabpanel">
                            <table class="standing-full">
                                <tr>
                                    <th>Team</th>
                                    <th>played</th>
                                    <th>Match Win</th>
                                    <th>Placement Point</th>
                                    <th>Kill Point</th>
                                    <th>Total points</th>
                                </tr>

                                {% for i in unique_team %}
                                <tr>
                                    <td class="up"> {{forloop.counter}} <span class="team"><img src="{{i.1.0}}"
                                                width="30" height="30" alt="team-logo"> </span>{{i.1.1}}
                                    </td>
                                    <td>{{i.1.2}}</td>
                                    <td>{{i.1.3}}</td>
                                    <td>{{i.1.4}}</td>
                                    <td>{{i.1.5}}</td>
                                    <td class="points"><span>{{i.1.6}}</span></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <!-- <h4>{{table_title}} Point Table </h4> -->
                    <ul class="pagination" role="tablist">
                        <!-- {% for data in group_table_data_1 %}
                        <li class=""><a href="#{{data.slug}}" onclick="myfunction(event)" value="{{data.slug}}"
                                role="tab" data-toggle="tab">{{data.Group_title}}</a>
                        </li>
                        {% endfor %} -->
                        {% if group_table_data is not None %}
                        {% for data in group_table_data %}
                        <li class=""><a href="#{{data.slug}}" onclick="myfunction(event)" value="{{data.slug}}"
                                role="tab" data-toggle="tab">{{data.Group_title}}</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>

                </div>
            </div>


            <!--STANDING TABLE WRAP END-->


            {% if single_match_related_info is not None %}
            <div class="row">
                <div class="col-md-12">
                    <h6>{{table_title}} All matches</h6>
                </div>
                <div class="col-md-12">
                    <div class="broadcast-list" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for single_match in single_match_related_info %}
                        {% for i in single_match %}
                        <div class="broadcast-item">
                            <div class="item-header" id="headingOne">
                                <div class="row">
                                    <div class="col-md-1 col-sm-2">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{i.0}}"
                                            class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="col-md-11 col-sm-10">
                                        <div class="item-head-body">
                                            <a href="matches.html"><img
                                                    src="{% static 'images/common/channel-logo.png' %}" width="40"
                                                    height="40" alt="channel-logo"></a>

                                            <span class="info">
                                                <span class="what">{{i.4.time}}/{{i.4.date}}</span>
                                                <span class="then">{{i.1}}</span>
                                            </span>
                                            <span class="marker">live</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="{{i.0}}" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="img-wrap"><img src="{{i.2.url}}" alt="broad-img">
                                </div>
                                <div class="item-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="title">Match details</div>
                                            <p>{{i.3}}</p>
                                            <div class="title">Match Time</div>
                                            <p>{{i.4.time}}<br>{{i.4.date}}</p>

                                            <a href="upcoming-match.html" class="btn">View match page</a>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="title">Teams</div>
                                            <div class="lineup-list">
                                                <div class="item">
                                                    <ul class="categories-list">

                                                        {% for j in i.5 %}
                                                        {% if j.1 is not None %}
                                                        <li>
                                                            <a><span class="count"><i class="fa fa-low-vision"
                                                                        aria-hidden="true"></i></span>{{j.1}}</a>
                                                            <ul>
                                                                {% for k in j.2 %}
                                                                {% if k.0 is not None %}
                                                                <li><a href="{% url 'player' k.2 %}"><span
                                                                            class="count">
                                                                            <i class="fa fa-thumb-tack"
                                                                                aria-hidden="true"></i>
                                                                        </span>{{k.0}}
                                                                        <span style="margin-left: 5rem;"><i
                                                                                class="fa fa-user-times"
                                                                                aria-hidden="true"></i> {{k.1}}
                                                                            kills</span></a></li>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="container">
                    <h4>For match detils, go to round level and select an Group. </h4>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</div>
<script>
    function myfunction(e) {
        var clickedvalue = e.target.attributes.value.value;

        // console.log(Tournament);
        var url = new URL(window.location);
        url.searchParams.append('data', clickedvalue);
        location.replace(url.href);
        // history.pushState({}, null, url.href);
        // history.go()
    }
</script>
{% endblock %}



