{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main-players-stat bg-cover" style="background: url('https://images.wallpapersden.com/image/download/pubg-mobile-season-15_bGhmZ2iUmZqaraWkpJRpZWVlrWdnamY.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="hockey-stats-h4">Players stats</h4>


                <div class="single-player-stats players_statistic_slider">
                    <ul class="player-filters" role="tablist">
                        <li class="active">
                            <a href="#goalkeepers" role="tab" data-toggle="tab">
                               Details
                            </a>
                        </li>


                    </ul>
                    <div class="player-stat-slider tab-content">
                        <div id="slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner tab-content" role="listbox">
                                {% for player in sorted_players_top|slice:":1" %}
                                <div class="item active tab-pane" id="goalkeepers">
                                    <div class="wrap">
                                        <div class="stat" style="padding: 30px 100px 50px 40px">
                                            <div class="top-info with_number">
                                                <div class="number"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <a href="{% url 'player' player.1.0 %}" class="name">
                                                    {{player.1.1}}
                                                </a>
                                            </div>

                                            <div class="progress-wrap">
                                                <div class="progress-item">
                                                    <div class="bar-label">
                                                        <div class="achievement">Nationality</div>
                                                        <div class="score">{{player.1.4}}</div>
                                                    </div>
                                                    <div class="bar-label">
                                                        <div class="achievement">Kills</div>
                                                        <div class="score">{{player.1.6}}</div>
                                                    </div>
                                                    <div class="bar-label">
                                                        <div class="achievement">Age</div>
                                                        <div class="score">{{player.1.3}}</div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="image">
                                            <a href="player-second-page.html" title="player-image">
                                                <img src="{{player.1.2.url}}" alt="player-image" style="height: 23rem;">
                                            </a>
                                        </div>

                                    </div>

                                </div>
                                {% endfor %}
                                {% for player in sorted_players_top|slice:"1:" %}
                                <div class="item tab-pane" id="goalkeepers">
                                    <div class="wrap">
                                        <div class="stat" style="padding: 30px 100px 50px 40px">
                                            <div class="top-info with_number">
                                                <div class="number"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                <a href="{% url 'player' player.1.0 %}" class="name">
                                                    {{player.1.1}}
                                                </a>
                                            </div>

                                            <div class="progress-wrap">
                                                <div class="progress-item">
                                                    <div class="bar-label">
                                                        <div class="achievement">Nationality</div>
                                                        <div class="score">{{player.1.4}}</div>
                                                    </div>
                                                    <div class="bar-label">
                                                        <div class="achievement">Kills</div>
                                                        <div class="score">{{player.1.6}}</div>
                                                    </div>
                                                    <div class="bar-label">
                                                        <div class="achievement">Age</div>
                                                        <div class="score">{{player.1.3}}</div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="image">
                                            <a href="player-second-page.html" title="player-image">
                                                <img src="{{player.1.2.url}}" alt="player-image" style="height: 23rem;">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                                <div class="arrow-wrap">
                                    <!-- Controls -->
                                    <a class="nav-arrow left-arrow" href="#slider" role="button" data-slide="prev">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="nav-arrow right-arrow" href="#slider" role="button" data-slide="next">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="hockey-stats-h4">Best players</h4>
                <div class="team-best-player">
                    <div class="">
                        <ul class="player-filters" role="tablist">
                            <li class="active">
                                <a href="#goals" role="tab" data-toggle="tab">Top 5</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="best-players-list tab-pane active" id="goals">
                            {% for player in sorted_players_top %}
                            <a href="{% url 'player' player.1.0 %}" class="item">
                                <span class="number">{{forloop.counter}}</span>
                                <span>{{player.1.1}}</span>
                                <span class="achievement">{{player.1.6}}</span>
                            </a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--LIVE MACTH STAT BEGIN-->

<section class="live-match-stat">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h6>Turnament details</h6>
                <div class="live-details">{{turnament_details.0}}</div>
                
                <div class="statistics">
                    <h6>Note</h6>
                    <p>This ranking is base on :
                        
                        {% for match in match_list %}
                        <b>{{match}}</b>
                        {% endfor %}
                    </p>

                </div>
            </div>
            <div class="col-lg-6">
                <h6>Rank Table</h6>

                <table class="standing-full">

                    <tbody>
                        <tr>
                            <th>Avater & Name </th>
                            <th>Age</th>
                            <th>Team Name </th>
                            <th>kill points</th>
                        </tr>
                        {% for player in sorted_players %}
                        <tr>
                            <td class="up"> <a href="{% url 'player' player.1.0 %}">{{forloop.counter}}<span class="team"><img src="{{player.1.2.url}}" width="30" height="30"
                                        alt="team-logo"> </span>{{player.1.1}}</a>
                            </td>
                            <td>{{player.1.3}}</td>
                            <td>{{player.1.5}}</td>
                            <td class="points"><span>{{player.1.6}}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>

<!--LIVE MACTH STAT END-->
{% endblock %}