{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--CONTACT WRAP BEGIN-->
 

<section class="contacts-wrap ">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>Contuct Us</h4>
                <div class="contact-office-img">
                    {% for i in site_about %}
                    <img class="img-responsive" src="{{i.banner.url}}"
                        alt="contact-office-img">
                        {% endfor %}
                </div>
                <ul class="contact-list">
                    {% for i in maindata %}
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>{{i.physical_address}}</span></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                            href="mailto:team@email.com">{{i.official_mail}}</a></li>
                    <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>{{i.help_line}}</span></li>
                {% endfor %}
                </ul>
                <ul class="contact-bar">
                    {% for i in site_social_media %}
                    <li class="facebook"><a href="{{i.facebook}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li class="twitter"><a href="{{i.twitch}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="instagram"><a href="{{i.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="youtube"><a href="{{i.youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-7">
                <h4>Get in touch</h4>
                <div class="leave-comment-wrap">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Name <i>*</i></span>
                                        <input type="text" name="name">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label>
                                        <span>Email <i>*</i></span>
                                        <input type="email" name="email">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Subject</span>
                                        <input type="text" name="subjects">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <label>
                                        <span>Your message<i>*</i></span>
                                        <textarea></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="comment-submit">Send us message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-map">
        {% for i in site_about %}
        <iframe src="{{i.on_google_map}}" width="100%" allowfullscreen="" loading="lazy">
        </iframe>
        {% endfor %}
    </div>
</section>

 
<!--CONTACT WRAP END-->
{% endblock %}