{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Team HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900"
        rel="stylesheet" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'css/library/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="{% static 'dev-assets/preloader-default.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'dev-assets/demo-switcher.css' %}" rel="stylesheet" type="text/css"/> -->
    <link href="{% static 'css-min/soccer.min.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static 'css/custom_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body > 
<div>
    <div class="preloader-wrapper" id="preloader">
        <div class="motion-line dark-big">
            
        </div>
        <div class="motion-line yellow-big">
           
        </div>
        <div class="motion-line dark-small"></div>
        <div class="motion-line yellow-normal">
            <img src="{{site_data.primary_logo.url}}" alt="logo" >
        </div>
        <div class="motion-line yellow-small1"></div>
        <div class="motion-line yellow-small2"></div>
    </div>

    <!--MAIN MENU WRAP BEGIN-->
    <div class="main-menu-wrap sticky-menu">
        <div class="container">
            <a href="{% url 'index' %}" class="custom-logo-link"><img src="{{site_data.primary_logo.url}}" alt="logo"
                    style="height: 10rem;" class="custom-logo"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar">
                <div class="collapse navbar-collapse" id="team-menu">
                    <ul class="main-menu nav">
                        {% with url_name=request.resolver_match.url_name %}
                        <li class="{% if url_name == 'index' %}active{% endif %}">
                            <a href="{% url 'index' %}"><span>Home</span></a>
                        </li>
                        <li class="{% if url_name == 'matches' %}active{% endif %}">
                            <a href="#"><span>Tournament</span></a>
                            <ul>
                                {% for s in nav_Tournament %}
                                <li class="">
                                    <a href="{% url "table" s.0 %}"><span>{{s.1}}</span></a>
                                    <ul>
                                        {% for k, v in s.2.items %}
                                        <li><a href="{% url "table" k %}"><span> {{v}}</span></a> </li>
                                        {% endfor %}
                                        {% if s.3 is True %}
                                            <li><a href="{% url 'ranklist' s.0 %}">MVP</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endfor %}

                                <li><a href="{% url 'upcoming' %}"><span>upcoming match</span></a></li>

                                <li><a href="#"><span>tournament registration </span></a></li>
                            </ul>
                        </li>
                        <li class="{% if url_name == 'teams' %}active{% endif %}">
                            <a href="{% url 'teams' %}"><span>Team</span></a>
                            
                        </li>

                        <!-- <li>
                            <a href="store.html"><span>Store</span></a>
                        </li> -->
                        <li class="{% if url_name == 'live' %}active{% endif %}">
                            <a href="{% url 'live' %}"><span>Stream</span></a>
                        </li>
                        <li class="{% if url_name == 'about' %}active{% endif %}">
                            <a href="{% url 'about' %}"><span>About</span></a>
                        </li>

                        <li class="{% if url_name == 'index' %}active{% endif %}">
                            <a href="#">
                                <span><i class="fa fa-user-circle-o" aria-hidden="true"
                                        style="font-size:16px"></i></span>
                            </a>
                            <ul>
                                {% if user.is_authenticated %}
                                <li><a href="#"><span>{{user.username}}</span></a></li>

                                <li><a href="{% url 'logout' %}"><span>Logout</span></a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}"><span>Login</span></a></li>
                                
                                <li><a href="{% url 'signup' %}"><span>Signup</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endwith %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--MAIN MENU WRAP END-->
    {% block content %}

    {% endblock %}

    <!--FOOTER BEGIN-->
    <footer class="footer">
        <div class="wrapper-overfllow">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-left">
                            <div class="wrap">
                                <p style="color:#fff"><b>About Us</b></p>
                                        {% for i in site_about%}
                                        <p style="color:#fff"> {{i.about_us|truncatechars:125}}</p>
                                {% endfor %}
                                
                                    <ul class="foot-left-menu">
                                        <p style="color:#fff"><b>Our Teams</b></p>
                                        {% for team in our_teams %}
                                    <li><a href="{% url 'teamdetails' team.slug %}" style="color:#fff">{{team.BS_team.TeamName}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-offset-1">
                        
                    </div>
                    <div class=" col-lg-3 col-md-4 col-sm-12">
                        <div class="foot-contact">
                            <h4>Contact us</h4>
                            <ul class="contact-list">
                                {% for i in maindata %}
                                <li><i class="fa fa-flag" aria-hidden="true"></i><span>{{i.physical_address}}</span></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                                        href="mailto:team@email.com">{{i.official_mail}}</a></li>
                                <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>{{i.help_line}}</span></li>
                            {% endfor %}
                            </ul>
                            <ul class="contact-bar">
                                {% for i in site_social_media %}
                                <li class="facebook"><a href="{{i.facebook}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li class="twitter"><a href="{{i.twitch}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="instagram"><a href="{{i.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li class="youtube"><a href="{{i.youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-menu-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-menu">
                            <li class="active"><a href="https://www.facebook.com/pronob1010"><span>@Pronob Mozumder</span></a></li>
                        </ul>
                        <a href="#top" class="foot-up"><span>up <i class="fa fa-caret-up"
                                    aria-hidden="true"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOTER END-->
    <script type="text/javascript" src="{% static 'js/library/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/jquery.sticky.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/jquery.jcarousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/jcarousel.connected-carousels.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/progressbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/jquery.bracket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/chartist.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/Chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/fancySelect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/isotope.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/imagesloaded.pkgd.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.team-coundown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matches-slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matches_broadcast_listing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/news-line.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/match_galery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main-club-gallery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/product-slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/circle-bar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/standings.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shop-price-filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timeseries.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/radar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/diagram.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bi-polar-diagram.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/label-placement-diagram.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/donut-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animate-donut.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/advanced-smil.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg-path.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pick-circle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/horizontal-bar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gauge-chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stacked-bar.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/library/chartist-plugin-legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/chartist-plugin-threshold.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/library/chartist-plugin-pointlabels.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/treshold.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/visible.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/anchor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/landing_carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/landing_sport_standings.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/twitterslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/champions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/landing_mainnews_slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/video_slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/footer_slides.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/player_test.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'dev-assets/demo-switcher.js' %}"></script>

    <script type="text/javascript" src="{% static '/smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static '/smart-selects/admin/js/bindfields.js' %}"></script>

    </body>

</html>